body.todos div.list_with_time_tracking div.item div.content, 
body.todos div.list_with_time_tracking .done div.item div.content {
	margin: 0px 0 0 75px;
}

.timer {
	background-image: url("images/play_button.png");
	background-position: center center;
	width: 17px;
	height: 17px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
	position: relative;
	left: -5px;
}

body.todos div.item div.controls {
	width: 90px;
}

body.todos div.list div.item div.controls a.time_tracking_control span.sprite {
	padding-top: 25px !important;
}

.timer:hover {
	filter: grayscale(75%);
	transition: 0.5s;
}