body.todos div.list_with_time_tracking div.item div.content, 
body.todos div.list_with_time_tracking .done div.item div.content {
	margin: 0px 0 0 100px !important;
}
.list.list_with_time_tracking .controls .icon {
	background-position: center center;
	width: 17px;
	height: 17px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
	position: relative;
	left: -5px;
}
.list.list_with_time_tracking .controls .icon.save { margin-left: 7px; }
.list.list_with_time_tracking .controls .icon:hover {
	filter: grayscale(75%);
	transition: 0.5s;
}
body.todos div.item div.controls { width: 95px !important; }
body.todos div.list div.item div.controls a.time_tracking_control span.sprite { padding-top: 25px !important; }

