html, body {
  width: auto;
  font-family: 'Arial', sans-serif;
}

.timer {
	background-image: url("../images/pause_button.png");
	background-position: center center;
	width: 25px;
	height: 25px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
}

.timer:hover {
	filter: grayscale(75%);
	transition: 0.5s;
}

.timer.pause {
	background-image: url("../images/play_button.png");
}

.timer.remove {
	background-image: url("../images/delete_button.png");
}
