html, body {
  width: auto;
  font-family: 'Arial', sans-serif;
}
th { text-align: left; }
tbody { border-bottom: 1px solid black; }
.task-name { 
	width: 100%;
	height: 20px;
}
.icon {
	background-position: center center;
	width: 25px;
	height: 25px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
}
.icon.pause { background-image: url("../images/pause_button.png"); }
.icon.play { background-image: url("../images/play_button.png"); }
.icon.remove { background-image: url("../images/remove_button.png"); }
.icon.add { background-image: url("../images/add_button.png"); }
.icon:hover {
	filter: grayscale(75%);
	transition: 0.5s;
}
